@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: rgb(20, 20, 20);
    color: #fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2rem;
    padding-left: 30px;
}

section > p{
    padding-bottom: 2rem;
}

.normal{
    background-color: #fff;
    color: black;
}

.image{
    background-color: rgb(58, 57, 57);
    color: #fff;
    box-shadow: inset 6px 6pc 13px 0px rgba(0, 0, 0, 0.473);
    /*parallax effect */
    background-size: cover;
    background-attachment: fixed;
}

.image > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;  
}

#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: rgb(20, 20, 20);
    color: #fff;
    text-align: center;
    padding: 10px;
}